accelerate==0.34.2
bitsandbytes==0.43.3
datasets==2.21.0
huggingface_hub==0.24.7
jieba>=0.42.1
modelscope==1.17.1
nltk>=3.8.1
numpy>=1.24.0
pandas==2.2.3
peft==0.12.0
pyyaml>=6.0.1
rouge-chinese>=1.0.3
scikit-learn==1.5.2
tensorboard>=2.14.0
tqdm==4.66.5
transformers==4.44.2
trl==0.9.6
